<html>
<head>
    <title>URL Shortener</title>
</head>
<body>
<h1>URL Shortener</h1>
<form method="POST" action="/url">
    <input type="text" name="actUrl" placeholder="Enter a URL" />
    <button type="submit">Shorten</button>
</form>
</body>
</html>